
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
img.logofucai {
  width:300px;
  height:auto;
}
img.logoticai {
  width:300px;
  height:auto;
}
img.zhongleipic {
  width:120px;
  height:auto;
}
span.welcomeword {
  color:lighten(red,20%);
  font-size:18px;
  width:38%;
  text-align: left;
}
span.epiece {
  display: inline-block;
  width:60%;
  text-align: right;
}
a.imlink {
  display: block;
  text-align: center;
}
div.firstpage {
  font-size: 20px;
  color:darken(pink ,60%);
  span.namedesc {
      color:lighten(black,20%);
      font-size: 18px;
      width:80px;
    text-align: left;
  }
  span.shopownername {
    color:lighten(black,1%);
    font-size:20px;
    font-weight: bold;
    width:360px;
    display: inline-block;
    text-align: left;
  }
  div.imgholder {
    display:inline-block;
    img {
      width:90px;
      height:auto;
    }
  }

}
div.detaillei {
  margin-top:10px;
  div.subheader {
    background-color: transparent;
  }
}
div.emotionpic {
  img {
    width:100%;
    height:auto;
    display: inline-block;
  }
}
div.ballholder div.circlebai{
  @include border-radius(50%);

  display: inline-block;
  margin:15px;
  width:35px;
  height:35px;
  border:1px solid lighten(black,20%);
  &.red {
    background-color: red;
  }

}
div.ballholder span.numnum {
  color:lighten(red,10%);
  &.white {
    color:white;
  }
  font-weight: bold;

}

div.blueholder div.circlebai {
  @include border-radius(50%);

  display: inline-block;
  margin: 15px;
  width: 35px;
  height: 35px;
  border: 1px solid lighten(black, 20%);
  &.blue {
    background-color: blue;
  }
}
div.blueholder span.numnum {
  color:lighten(blue,10%);
  &.white {
    color:white;
  }
  font-weight: bold;

}
div.beats {
  font-size:20px;
  div.haonum {
    color:red;
    span.blueletter {
      color:blue;
      margin-right:18px;
    }
  }

  input.beishu {
    width:60px;
    height:30px;
    margin:0 4px;
  }
  span.glyphicon {
    font-size:30px;
    width:60px;
    height:30px;
  }
}